@import "tailwindcss";
.headland-one-regular {
    font-family: "Headland One", serif;
    font-weight: bold;
    font-style: normal;
  }

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* or 300, 700, etc. */
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

.hedvig-letters-sans-regular {
    font-family: "Hedvig Letters Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }